/* Reset base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*simulare un dispositivo mobile */
body {
    width: 100%;
    max-width: 512px;
    margin: 0 auto;
    outline: dashed red;
}

/*utility*/

.d-flex{
    display: flex;
}


.wrapper{
    flex-direction: column;
    justify-content: flex-start;
    height: 100vh;
}

.wrapper-body{
    flex-direction: row;
    flex-grow: 1;
    height: 0;
}

.server-list{
    flex-direction: column;
    flex-shrink: 0;
    flex-grow: 0;
    flex-basis: 80px;
    background-color: green;
}

.wrapper-chats{
    flex-direction: column;
    flex-shrink: 1;
    flex-grow: 1;
    flex-basis: 100px;
    overflow: auto;
}

.body-chats{
    flex-direction: column;
}

.footer-nav{
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}