/* Reset base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*simulare un dispositivo mobile */
body {
    width: 100%;
    max-width: 512px;
    margin: 0 auto;
    outline: dashed red;
}

/*utility*/

.d-flex{
    display: flex;
}


.wrapper{
    flex-direction: column;
    justify-content: flex-start;
    height: 100vh;
}

.wrapper-body{
    flex-direction: row;
    flex-grow: 1;
    height: 0;
}

.server-list{
    flex-direction: column;
    flex-shrink: 0;
    flex-grow: 0;
    flex-basis: 80px;
    background-color: green;
}

.wrapper-chats{
    flex-direction: column;
    flex-shrink: 1;
    flex-grow: 1;
    flex-basis: 100px;
    overflow: auto;
}

.body-chats{
    flex-direction: column;
}

.footer-nav{
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    background-color: rgba(45, 45, 53);
    flex-basis: 80px;
}

.img-profilo{
    width: 25px;
    aspect-ratio: 1;
    border-radius: 50%;
}

.button{
    background-color: rgba(45, 45, 53);
    border: none;
    color:white;
    flex-basis: 130px;
}

.icon-ft{
    font-size: 25px;
}

.text-ft{
    font-size: 12px;
    font-weight: 600;
}