/* Reset base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*simulare un dispositivo mobile */
body {
    width: 100%;
    max-width: 512px;
    margin: 0 auto;
    outline: dashed red;
}

/*utility*/

.d-flex {
    display: flex;
}


.wrapper {
    flex-direction: column;
    justify-content: flex-start;
    height: 100vh;
}

.wrapper-body {
    flex-direction: row;
    flex-grow: 1;
    height: 0;
}

.server-list {
    flex-direction: column;
    flex-shrink: 0;
    flex-grow: 0;
    flex-basis: 80px;
    background-color:#141318;
    align-items: center;
    gap: 10px;
    padding-top: 10px;
}

.wrapper-chats {
    flex-direction: column;
    flex-shrink: 1;
    flex-grow: 1;
    flex-basis: 100px;
    overflow: auto;
}

.body-chats {
    flex-direction: column;
}

.footer-nav {
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    background-color: rgba(45, 45, 53);
    flex-basis: 80px;
}

.img-profilo {
    width: 25px;
    aspect-ratio: 1;
    border-radius: 50%;
}

.button-ft {
    background-color: rgba(45, 45, 53);
    border: none;
    color: white;
    flex-basis: 130px;
}

.icon-ft {
    font-size: 25px;
}

.text-ft {
    font-size: 12px;
    font-weight: 600;
}

ul {
    list-style: none;
}

.button-side {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    outline: none;
    box-shadow: none;
    padding: 0 10px 0 0;
    position: relative;

}

.server-img {
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    transition: border-radius 0.3s ease;
}

.button-side:focus .server-img {
    border-radius: 25%;
}
.button-side:focus::before {
    content: '';
    position: absolute;
    left: -6px;           
    top: 50%;
    transform: translateY(-50%);
    width: 4px;
    height: 40px;
    background: white;
    border-radius: 2px;
    transition: all 0.3s ease;
}